.main-container {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  background-color: #839695;
}

a {
  text-decoration: none;
}

.navbar-header {
  box-sizing: border-box;
  font-size: 36px;
  padding: 23px 0 0 27px;
  line-height: 47px;
  font-weight: 700;

  position: fixed;
  margin: 0 auto;
  width: 1440px;
  height: 83px;

  background: #112b3e;
}

.navbar-text {
  color: #fff !important;
}

.navbar-text > span {
  font-size: 24px;
}

.container-grid {
  display: grid;
  grid-template-columns: 420px 420px 420px;
  column-gap: 35px;
  row-gap: 73px;
  padding: 123px 54px 40px;
}

.card-article {
  background-color: #112b3e;
  color: #fff;

  width: 420px;
  height: 450px;
}

.card-img-size {
  width: 420px;
  height: 299px;
}

.card-title {
  margin: 10px 0;
  max-height: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-article:hover {
  transform: scale(1.1);
}

.card-title > a {
  color: #fff;
}

.card-text {
  margin: 5px 0;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.container-article {
  padding: 123px 121px 96px;
}

.article-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #fff;
}

.article-img {
  margin: 10px 0 30px;
  width: 1198px;
}

.article-description {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}

.article-expert-comment {
  margin-top: 24px;
  padding: 18px 19px 43px 35px;
  background-color: #fff;
}

.article-expert-comment-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.article-expert-comment-text {
  margin: 28px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.46px;
}
